*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Sora", serif;
  background-color: #0d121e;
  color: white;
}

/* .container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px dashed rgb(252, 0, 0);
}
 */

.passwords-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 20px 30px;
}

.title {
  /* width: 300px; */
  margin-bottom: 1rem;
  /* border: 1px solid red; */
}

.highlight-font {
  color: #5d7dde;
  text-decoration: underline;
}

img {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.password-options {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.button-el {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  margin: 0;
  padding: 0 15px;
  font-family: "Sora", serif;
  background: #5d7dde;
  border: none;
  cursor: pointer;
}

.copy {
  border-radius: 0 5px 5px 0;
}

#optionOne-el {
  width: 350px;
  height: 40px;
  margin: 0;
  padding: 10px;
  color: #5d7dde;
  background: rgb(42, 43, 44);
  border-radius: 5px 0 0 5px;
  border-right: none;
  border-top: 1px solid darkgray;
}

.button-el:hover {
  background: rgb(255, 255, 255);
  color: #5d7dde;
}

.bottom-line {
  width: 300px;
  margin: 10px 0;
  border-bottom: 2px solid rgb(42, 43, 44);
}

.passwordcustomisation-container {
  width: 450px;
  display: grid;
  grid-template-columns: 175px 65px 65px 65px 65px;
  /* align-content: center; */
  gap: 5px;
  /* border: 1px solid red; */
}

.passwordcustomisation-container input[type="checkbox"] {
  margin-right: 5px;
}

.passwordlength-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  width: 450px;
  margin-bottom: 1em;
}

.range {
  -webkit-appearance: none;
  appearance: none;
  width: 60%;
  height: 5px;
  border-radius: 2px;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #5d7dde;
  border-radius: 15%;
  cursor: pointer;
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
}

input[type="checkbox"]:checked {
  accent-color: #5d7dde;
}
