* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Sora", serif;
  background-color: #0d121e;
  color: white;
}

.passwords-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 20px 30px;
}

.title {
  width: 300px;
}

.highlight-font {
  color: #5d7dde;
  text-decoration: underline;
}

img {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.password-options {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

#button-el {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  margin: 0;
  padding: 0 15px;
  font-family: "Sora", serif;
  background: #5d7dde;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

#optionOne-el {
  width: 250px;
  height: 40px;
  margin: 0;
  padding: 10px;
  color: #5d7dde;
  background: rgb(42, 43, 44);
  border-radius: 5px 0 0 5px;
  border-right: none;
}

#button-el:hover {
  background: rgb(255, 255, 255);
  color: #5d7dde;
}

.bottom-line {
  width: 300px;
  margin: 10px 0;
  border-bottom: 2px solid rgb(42, 43, 44);
}

.passwordcustomisation-container {
  display: grid;
  grid-template-columns: 180px 180px;
  row-gap: 10px;
}
