*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sora", serif;
  background-color: #0d121e;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.passwords-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 20px 15px;
}

.title {
  margin-bottom: 1rem;
}

.highlight-font {
  color: #5d7dde;
  text-decoration: underline;
}

img {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.password-options {
  display: flex;
  align-items: center;
  margin: 20px 0px;

  position: relative;
}

.button-el {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  margin: 0;
  padding: 0 15px;
  font-family: "Sora", serif;
  background: #5d7dde;
  border: none;
  cursor: pointer;
}

.copy {
  border-radius: 0 5px 5px 0;
}

#option-el {
  width: 350px;
  height: 40px;
  margin: 0;
  padding: 10px;
  color: #5d7dde;
  background: rgb(42, 43, 44);
  border-radius: 5px 0 0 5px;
  border-right: none;
  border-top: 1px solid darkgray;
}

.button-el:hover {
  background: rgb(255, 255, 255);
  color: #5d7dde;
}

.button-el:focus {
  outline: none;
}

.bottom-line {
  width: 310px;
  margin: 10px 0;
  border-bottom: 2px solid darkgrey;
}

.passwordcustomisation-container {
  width: 450px;
  display: grid;
  grid-template-columns: 175px 65px 65px 65px 65px;
  gap: 5px;
}

.passwordcustomisation-container input[type="checkbox"] {
  margin-right: 5px;
}

.passwordlength-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  margin-bottom: 1em;
}

.range {
  -webkit-appearance: none;
  appearance: none;
  width: 60%;
  height: 5px;
  border-radius: 2px;
}

.range:focus,
input[type="checkbox"]:focus {
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #5d7dde;
  border-radius: 15%;
  cursor: pointer;
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
}

input[type="checkbox"]:checked {
  accent-color: #5d7dde;
}

.select-message {
  margin: 1em 0;
  font-size: 0.75em;
  font-weight: bold;
  color: red;
}

#tooltip {
  font-size: 0.8em;
  background-color: #fff;
  color: #555;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  width: 100px;
  z-index: 1;
  opacity: 0;
  text-align: center;
  top: -40px;
  right: 0;
  visibility: hidden;
  transition: opacity 1s;
}

#tooltip.show {
  visibility: visible;
  opacity: 1;
}

#tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: 25px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
