*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sora", serif;
  background-color: #0d121e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.load img,
.copy img {
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.title {
  margin-bottom: 1rem;
}

.highlight-font {
  color: #5d7dde;
  text-decoration: underline;
}

#star-icon {
  display: block;
  margin: 1em auto;
  width: 100px;
  height: 100px;
}

.passwords-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
}

.password-options {
  width: 100%;
  position: relative;
  word-wrap: break-all;
  overflow-wrap: break-word;
}

#password-output {
  max-width: 100%;
  margin-bottom: 0.5em;
  padding: 10px;
  color: #5d7dde;
  background: rgb(42, 43, 44);
  border-radius: 5px;
  border-top: 1px solid darkgray;

  white-space: normal;
  word-wrap: break-all;
  overflow-wrap: break-word;
}

.password-actions button {
  height: 30px;
  margin: 0;
  padding: 0 15px;
  font-family: "Sora", serif;
  border-radius: 5px;
  background: #5d7dde;
  border: none;
  cursor: pointer;
}

.password-actions button:hover {
  background: rgb(255, 255, 255);
  color: #5d7dde;
}

.password-actions button:focus {
  outline: none;
}

#tooltip {
  font-size: 0.8em;
  background-color: #fff;
  color: #555;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  width: 100px;
  z-index: 1;
  opacity: 0;
  text-align: center;
  bottom: 5px;
  left: 115px;
  visibility: hidden;
  transition: opacity 1s;
}

#tooltip.show {
  visibility: visible;
  opacity: 1;
}

#tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgb(255, 255, 255) transparent transparent;
}

.length-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35px;
  margin: 1.5em 0;
}

.range {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  border-radius: 2px;
  width: 100%;
}

.range:focus,
input[type="checkbox"]:focus {
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #5d7dde;
  border-radius: 15%;
  cursor: pointer;
}

.characters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
}

.characters-container input[type="checkbox"] {
  margin-right: 5px;
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
}

input[type="checkbox"]:checked {
  accent-color: #5d7dde;
}

.select-message {
  margin: 1em 0;
  font-size: 0.75em;
  font-weight: bold;
  color: red;
}

.unavailable {
  background-color: #e0e0e0;
  color: #888;
  cursor: not-allowed;
}
